.dropdown-btn {
	background-color: yellow;
	color: black;
	font-family: sans-serif;
	font-size: 16px;
	border: solid;
	padding: 16px;

}
.dropdown {
	position: relative;
	display: inline-block;
}
.dropdown-links {
	display: none;
	position: absolute;
	background: white;
	width: 100%;
	z-index: 1;
	box-shadow: 0px,8px,16px,0px rgba (0,0,0,2);

}
.dropdown-links a{
	text-decoration: none;
	display: block;
	color: black;
	padding: 12px, 16px;
}
.dropdown-links a:hover {
	background-color: white;
}
.dropdown:hover .dropdown-links {
	display: block;
}